### Aliases File ###

## General
alias mkdir="mkdir -p"
alias h="history"
alias load="source"
alias g="git"
alias v="vim"
alias s="subl"
alias ss="subl ."
alias o="open"
alias oo="open ."

## General Navigation
alias cdd="cd -"
alias o="open"
alias 2..="cd ../.."
alias 3..="cd ../../.."
alias db="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias st="cd ~/Sites"

## Project Specific Navigation
alias wlapi="cd ~/Sites/work/wunderapi/baseapi"
alias wlweb="cd ~/Sites/work/wunderlist\ clients/wunderlist-web-2.0"
alias work="cd ~/Sites/work"
alias personal="cd ~/Sites/personal"
alias wjson="cd ~/Sites/work/wunderjson"

## Editor
alias subl="/Applications/Sublime\\ Text\\ 2.app/Contents/SharedSupport/bin/subl"

## Configurations
alias zsh="vi ~/.dotfiles/zsh/"
alias zali="vi ~/.dotfiles/zsh/.aliases"
alias zconf="vi ~/.dotfiles/zsh/.config"
alias zpers="vi ~/.dotfiles/zsh/.personal"
alias zenv="vi ~/.dotfiles/zsh/.env"
alias zfunc="vi ~/.dotfiles/zsh/.functions"
alias ohmyzsh="vi ~/.oh-my-zsh"
alias vimrc="vi ~/.dotfiles/vim/.vimrc"
alias reload=". ~/.dotfiles/zsh/.zshrc"

## Monitoring
alias tcpu="top -o cpu"
alias tmem="top -o vsize"

## Git
alias git='hub'
alias gpom="git push origin master"
alias glom="git pull origin master"
alias gcr="git rev-parse HEAD | tr -d '\n'"
alias gcb="git rev-parse --abbrev-ref HEAD | tr -d '\n'"
alias gcl="git clone"
alias gpo="git push origin"
alias glo="git pull origin"
alias gst="git status"
alias gdf="git diff"
alias gco="git checkout"
alias gf="git fetch"

## Bundler
alias be="bundle exec"

## Rails
alias rdbm="bundle exec rake db:migrate"
alias rdbd="bundle exec rake db:drop"
alias rdbc="bundle exec rake db:create"
alias rdbr="bundle exec rake db:drop; bundle exec rake db:create; bundle exec rake db:migrate; bundle exec rake db:test:prepare"
alias berspec="bundle exec rspec"

alias irc='weechat-curses'

# No Correct
alias wake='nocorrect wake'
alias rspec='nocorrect rspec'
alias vagrant='nocorrect vagrant'
alias npm='nocorrect npm'

alias wurl='curl -H "Content-Type: application/json" -H "X-Access-Token: $WLIST_ACCESS_TOKEN" -H "X-Client-ID: $WLIST_CLIENT_ID"'
